p {
    border: 1px solid #dfdfdf;
    /*
        두께 형태 색상
        solid 실선, dotted 둥근 점선, dashed 시작 점선, double 이중선 
     */
}

#padding-1 {
    padding: 8px;
    /* 
        4방향
        * padding: 8px
        * padding: 8px 4px
                 (위아래, 오른쪽왼쪽)
        padding: 8px 6px 6px
                 (위, 오른쪽왼쪽, 아래)
        padding: 8px 6px 8px 6px
                 (위, 오른쪽, 아래, 왼쪽)
        
        1방향
        * padding (top/bottom/left/right) : 8px
      */
}

#margin-1 {
    margin: 8px 0;
}

#margin-2 {
    margin: 16px 8px;
}

/* 
    마진세로 겹침 or 마진상쇄효과

    마진의 위 아래 겹쳤을 때
    더 긴 마진을 기준으로 한다.
*/

.content-box {
    width: 300px;
    padding: 16px;
    border: 10px solid #000;
    background-color: aqua;
    height: 300px;
}

.border-box {
    width: 300px;
    padding: 16px;
    border: 10px solid #000;
    background-color: hotpink;
    box-sizing: border-box;
    height: 300px;
}
