ul {
    list-style: none;
}

ul a {
    text-decoration: none;
    /*
    31, 33, 37
    */
}

ul > a {
    color: deeppink;
    /*
    31
    */
}

ul > li > a {
    color: cornflowerblue;
    /*
    33
    */
}

ul > li > p > a {
    color: darkviolet;
}

ul li a {
    color: red;
    /*
    33, 37
    자식 자손 선택자의 길이가 
    길 수록 우선순위가 높다
    */
}

/*header*/
header > a {
}
header > #menu > #menu-item {
}
